@model ProyectoDTO
@{
    ViewData["Title"] = "Borrar Proyecto";
}

<form asp-action="Delete" method="post">
    @Html.HiddenFor(modelItem => @Model.Id)
    <div class="container">
        <div class="contenido">
            <div class="title-index">
                <h1>
                    Borrar Proyecto: @Model.Nombre
                </h1>
            </div>
            <br/>
            <div class="adventencia-borrar">
                <h2>¿Estás seguro de borrar este proyecto?</h2>
                <h2>Tambien se eliminarán las tareas asociadas al proyecto</h2>
            </div>
            <div class="form-registro">
                <div class="left-side">
                    <h3>Nombre del Proyecto:</h3>
                    <div class="group-agregar">
                        <input type="text" class="input-text" asp-for="Nombre" readonly>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                    </div>
                    <h3>Fecha de Inicio:</h3>
                    <div class="group-agregar">
                        <input type="date" class="input-text" asp-for="FechaInicio" readonly>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                    </div>
                    <h3>Estado:</h3>
                    <div class="group-agregar">
                        <input type="text" class="input-text" asp-controller="Estado" asp-action="Details" asp-route-id="@Model.EstadoId" value="@Model.Estado.NombreEstado" readonly>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                    </div>
                </div>
                <div class="right-side">
                    <h3>Descripcion:</h3>
                    <textarea class="textarea-proy2" asp-for="Descripcion" readonly></textarea>
                    <div class="separacion">
                        <button class="custom-btn btn-danger btn-margin1" type="submit">Borrar Proyecto</button>
                        <a class="custom-btn btn-info btn-margin1" type="submit" asp-action="Index">Volver a la lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>